<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <span class="navbar-brand">TestTrack Pro Dashboard</span>

    <div>
      <a href="/testcase" class="btn btn-light">Add Test Case</a>
      <a href="/bug" class="btn btn-warning">Report Bug</a>
      <a href="/login" class="btn btn-danger">Logout</a>
    </div>
  </div>
</nav>

<div class="container mt-5">

  <h3>Dashboard</h3>

  <div class="row mt-4">

    <div class="col-md-6">
      <div class="card p-3 text-center">
        <h5>Total Test Cases</h5>
        <p class="fs-2 fw-bold">TESTCASE_COUNT</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card p-3 text-center">
        <h5>Total Bugs</h5>
        <p class="fs-2 fw-bold">BUG_COUNT</p>
      </div>
    </div>
    <a href="/view-testcases" class="btn btn-info">View Testcases</a>
<a href="/view-bugs" class="btn btn-secondary">View Bugs</a>

  </div>

</div>

</body>
</html>
